<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<div id ="cabecera">
			<img id="logo" src="images/logo.png">
			</div>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog Constitución 2030</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jsebastian.clavijoc@javeriana.edu.co">email</a></li>
	        		<li><a href="https://github.com/jclavijomartinez">github.com/jclavijomartinez</a></li>
				</ul>
			</footer>
		</body>
	</html>
